body{
    display: flex;
    justify-content: center;
    background: url(./img/Group\ 61.png)no-repeat;
}
img{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}