
body{
   
    width:100%;
    height: 100vh;
    animation: changeBg 10s linear infinite;
}
@keyframes changeBg{
    0%{
        background-color: #F6DEFF;
    }
    20%{
        background-color:#F5F5F5;
    }
    40%{
        background-color:#F6DEFF;
    }
    60%{
        background-color: #FFE29B;
    }
    80%{
        background-color: lightgray;
    }
}
.logo{
    
    display: flex;
   cursor: pointer;
   transition: all 1s ease-in-out;
}
.logoa{
    cursor: pointer;
    
   transition: all 1s ease-in-out;
}
.logoa:hover{
    transform: scale(1.1);
}
.a{
    height: 80px;
    display: flex;
}
.logo:hover{
    transform: scale(1.1);
}
#wizard{
 height: 80px;
}
#Dumbledore123{
    height: 250px;
    padding-right: 40px;
    cursor: pointer;
    
   transition: all 1s ease-in-out;
}
#Dumbledore123:hover{
    transform: scale(1.1);
}
#Hagrid{
    height: 250px;
    padding-right: 20px;
    cursor: pointer;
    
   transition: all 1s ease-in-out;
}
#Hagrid:hover{
    transform: scale(1.1);
}
#Lupin{
    height: 250px;
    padding-left: 40px;
    cursor: pointer;
    
   transition: all 1s ease-in-out; 
}
#Lupin:hover{
    transform: scale(1.1);
}
#Megonagall{
    height: 250px;
    cursor: pointer;
    
   transition: all 1s ease-in-out;
}
#Megonagall:hover{
    transform: scale(1.1);
}

#Umbridge{
    height: 250px;
    padding-right: 20px;
    cursor: pointer;
    
   transition: all 1s ease-in-out;
}
#Umbridge:hover{
    transform: scale(1.1);
}
#Snap{
    height:250px;
    padding-left: 40px;
    cursor: pointer;
    
   transition: all 1s ease-in-out;
}
#Snap:hover{
    transform: scale(1.1);
}
.total{
    display: grid;
    width: fit-content;
    grid-gap: 15px;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr;
}
#header{
    display: flex;
    justify-content: space-between;
}
.totaltotal{
    display: flex;
    justify-content: center;
    background: url(./img/Rectangle\ 50.png) center/cover no-repeat;
    height: max-content;

}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:600px)
{
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .total{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
    }
    
    #header{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        flex-direction: column; 
    }
    
 }