body{
    background-color: #F6DEFF;
}
.logo{
    
    flex-direction: row;
    cursor: pointer;
}

.a{
    
    display: flex;
}
.logo:hover{
    transform: scale(1.1);
}
#wizard{
 height: 100px;
}
#photo{
    height: 250px;
    padding-right: 40px;
    cursor: pointer;
    
}
#photo:hover{
    transform: scale(1.1);
}
#draco{
    height: 250px;
    padding-right: 20px;
    cursor: pointer;
    
}
#draco:hover{
    transform: scale(1.1);
}
#harrypoter{
    height: 250px;
    padding-left: 40px;
    cursor: pointer;
}
#harrypoter:hover{
    transform: scale(1.1);
}
#ron{
    height: 250px;
    cursor: pointer;
}
#ron:hover{
    transform: scale(1.1);
}

#cedric{
    height: 250px;
    padding-right: 20px;
    cursor: pointer;
}
#cedric:hover{
    transform: scale(1.1);
}
#hermoine{
    height:250px;
    padding-left: 40px;
    cursor: pointer;
}
#hermoine:hover{
    transform: scale(1.1);
}
.total{
    display: grid;
    width: fit-content;
    grid-gap: 15px;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr;
}
#header{
    display: flex;
    justify-content: space-between;
}
.totaltotal{
    display: flex;
    justify-content: center;
    background: url(./img/Rectangle\ 50.png) center/cover no-repeat;
    height: max-content;

}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}